.top-bottom-margin-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.centered-text {
    text-align: center;
}
.gm_content {
    background-color:rgb(255, 255, 255);
}

.gm_breadcumb {
    margin-left:1rem!important;
    margin-top: 0.5rem!important;
}
.gm_datalist {
    width: 50%;
}
